<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magazento_CustomReg>
            <version>1.0.6</version>
        </Magazento_CustomReg>
    </modules>
    <global>
        <blocks>
            <customreg>
                <class>Magazento_CustomReg_Block</class>
            </customreg>
        </blocks> 
        <models>
            <customreg>
                <class>Magazento_CustomReg_Model</class>
                <resourceModel>customreg_mysql4</resourceModel>
            </customreg>
            <customreg_mysql4>
                <class>Magazento_CustomReg_Model_Mysql4</class>
                <eav_attribute>
                    <table>customer_eav_attribute</table>
                </eav_attribute>
            </customreg_mysql4>
                
        </models>
        <resources>
            <customreg_setup>
                <setup>
                    <module>Magazento_CustomReg</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customreg_setup>
            <customreg_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customreg_write>

            <customreg_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customreg_read>
        </resources>
        <helpers>
            <customreg>
                <class>Magazento_CustomReg_Helper</class>
            </customreg>
        </helpers>        
    </global>
     <frontend>
        <layout>
            <updates>
                <customreg>
                    <file>magazento_customreg.xml</file>
                </customreg>
            </updates>
        </layout>
        <events>
            <core_copy_fieldset_customer_account_to_quote>
                <observers>
                    <additionalFieldstoQuote>
                        <type>model</type>
                        <class>Magazento_CustomReg_Model_Observer</class>
                        <method>Add_CustomFields_toQuote</method>
                    </additionalFieldstoQuote>
                </observers>
            </core_copy_fieldset_customer_account_to_quote>
            <core_copy_fieldset_checkout_onepage_quote_to_customer>
                <observers>
                    <additionalFieldstoCustomer>
                        <type>model</type>
                        <class>Magazento_CustomReg_Model_Observer</class>
                        <method>Add_CustomFields_toCustomer</method>
                    </additionalFieldstoCustomer>
                </observers>
            </core_copy_fieldset_checkout_onepage_quote_to_customer>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <customreg>
                    <file>magazento_customreg.xml</file>
                </customreg> 
            </updates>
        </layout>
    </adminhtml>	  
    <admin>	         
        <routers>
            <customreg>
                <use>admin</use>
                <args>
                    <module>Magazento_CustomReg</module>
                    <frontName>customreg</frontName>
                </args>
            </customreg>
        </routers>
    </admin>
    <default>
        <customreg>
            <options>
                <enable_address_fields>0</enable_address_fields>
            </options>
        </customreg>
        <general>
            <validator_data>
                <input_types>
                    <text>text</text>
                    <textarea>textarea</textarea>
                    <date>date</date>
                    <boolean>boolean</boolean>
                    <multiselect>multiselect</multiselect>
                    <select>select</select>
                    <checkboxes>checkboxes</checkboxes>
                    <radios>radios</radios>
                    <label>label</label>
                </input_types>
            </validator_data>
        </general>
    </default>
</config>